<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYBSbepqNeG7M9ttXHB5cpoTPVaTP37Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>663705621826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.courtz</string>
	<key>PROJECT_ID</key>
	<string>courtz-aad7d</string>
	<key>STORAGE_BUCKET</key>
	<string>courtz-aad7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663705621826:ios:fd8d806769b6639c0ba4db</string>
</dict>
</plist>